body {
  margin: 50px 0;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 100%;
  margin-bottom: 1.5%;
}

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: 90%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.show-preview {
  .card {
    height: 100%;

    .btn {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }
}

.card-preview-bg {
  width: 100%;
  height: 20%;
  background-position: center;
  background-size: cover;
}

.shows-wrapper {
  .card-title {
    // text-align: center;
    padding: 10px 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    .btnBox {
      display: flex;
      height: 100%;
      align-items: flex-end;
    }
  }
}
